<div>Одной из новых методик исследования природных условий организации массового отдыха, появившихся в процессе
  становления рекреационной географии, явилась методика биоклиматической оценки территории, разработанная Н.А. Даниловой
  (1980).
</div>

<div> Биоклиматические критерии применяются для разнообразных целей:</div>

<div> 1) для оценки условий жизни и здоровья населения как на уже обжитых территориях, так и для районов хозяйственного
  освоения;
</div>

<div> 2) для оценки режима труда (ежедневной продолжительности, частоты и величины перерывов, связанных с
  неблагоприятной погодой и пр.);
</div>

<div> 3) для планирования типов жилищ, в которых на протяжении года должны быть комфортные для человека условия;</div>

<div> 4) для оценки теплоизоляционных качеств одежды;</div>

<div> 5) для оценки сезонности и продолжительности активных видов отдыха и туризма и др.</div>

<div> Н.А. Даниловой была предложена методика оценки погоды для летних занятий отдыха и туризма здоровых людей, не
  имеющих медицинских противопоказаний для активного отдыха. Ею выделены рекреационные типы погод на
  климато-физиологической основе по температуре воздуха, общей облачности и скорости ветра. Так как биоклиматические
  исследования ведутся по срокам метеорологических наблюдений, наблюдения Н.А. Даниловой соответствовали 13 час. Все
  погоды были разбиты на 5 типов: комфортные, жаркого субкомфорта, жаркого дискомфорта, прохладного субкомфорта и
  холодного дискомфорта. Разработанная графическая оценочная шкала позволяет достаточно просто погоду каждого
  конкретного срока метеорологических наблюдений оценивать по степени благоприятности для летней рекреационной
  деятельности (рис. 3).
</div>

<%= article_image_tag "image018.jpg" %>
<div>Рис.&nbsp;3. Оценочные шкалы определения благоприятности погоды</div>

<div>для летнего отдыха</div>

<div>1 – холодная дискомфортная, 2 – прохладная субкомфортная, 3 – комфортная, 4 – жаркая субкомфортная, 5 – жаркая
  дискомфортная
</div>

<div>&nbsp;</div>

<div> Тип погоды Н - комфортная создает минимальные напряжения терморегуляторных систем организма человека. При нем
  возможны любые виды занятий: купание, прогулки, спортивные переходы, экскурсии и др. Комфортные погоды не вносят
  никаких ограничений в виды рекреационных занятий, т.к. соответствуют физиологическом оптимуму.
</div>

<div> Менее благоприятны, чем комфортные, субкомфортные температуры.</div>

<div>К ним относятся такие, которые создают слабое напряжение терморегуляторных систем организма человека. Это типы: 1Т
  (жаркий субкомфорт) и часть погод типа 1Х (прохладный субкомфорт). При субкомфортных погодах, как прохладных, так и
  жарких, виды занятий летнего отдыха и туризма ограничены. Возможны пешие прогулки в соответствующей погоде одежде, а
  также дальние переходы, имеющие цель закаливание и тренировку терморегуляторных систем организма.
</div>

<div> При прохладном субкомфорте особенно полезны спортивные игры, во время которых происходит избыточная теплорегуляция
  организма человека. Исключаются занятия на воде, кроме гребли.
</div>

<div> При типе погоды 1Т наиболее благоприятны для человека такие виды отдыха, которые способствуют уходу из организма
  избыточного тепла. К их числу в первую очередь относятся занятия на воде. Возможны прогулки, сбор грибов, ягод как при
  погодах с пониженной температурой, так и с повышенной температурой воздуха.
</div>

<div> Комфортные, жаркие и прохладные субкомфортные погоды, вместе взятые, образуют благоприятный период для летнего
  отдыха и туризма.
</div>

<div> К дискомфортным погодам, неприемлемым для осуществления летних видов занятий, относятся все погоды, при которых
  температуры воздуха ниже низшего и выше высшего предела субкомфортных погод.
</div>

<div> Особый подход требуется при выделении дискомфортных погод по отдельным метеорологическим показателям. Любая погода
  относится к ним при: 1) скоростях ветра больше 6 м/c; погода с таким ветром считается физиологически вредной для
  здоровья человека; 2) продолжительных туманах в светлую часть суток, затрудняющих передвижение, игры, походы и пр.;
</div>

<div> 3) интенсивной грозовой деятельностью, когда занятия на свежем воздухе могут быть опасными;</div>

<div> 4) выпадении свыше 3 мм осадков;</div>

<div> 5) таких грозных атмосферных и природных явлениях, как шквалы, ураганы, наводнения и др.</div>

<div> Для наглядности результаты определения рекреационных типов погод представляют в виде рисунков (рис. 4, 5 ).</div>

<%= article_image_tag "image019.jpg" %>
<%= article_image_tag "image020.jpg" %>

<div> Рис. 4. Распределение рекреационных типов погод по месяцам за многолетний период 1 - комфортная, 2 - жаркая
  субкомфортная, 3 - прохладная субкомфортная, 4 - дискомфортная
</div>


<%= article_image_tag "image021.jpg" %>
<div>Рис. 5 Продолжительность комфортного периода для летнего отдыха и туризма за год, число дней</div>


<div> Методика, предложенная Н.А. Даниловой, оказалась эффективной при оценке климатических условий отдыха здоровых
  людей и использовалась во многих регионах страны.
</div>

<div> Для того, чтобы более глубоко понять, как проявляется влияние различных метеорологических факторов на состояние
  организма человека, рекомендуем ознакомиться с разделом
  <%= link_to Article.find(34).title, Article.find(34) %>
  из монографии Н.А. Даниловой «Климат и отдых в нашей стране».
</div>

<div class="questions">
  <div>Контрольные вопросы к модулю «Биоклиматические исследования по методике Н.А. Даниловой»</div>

  <div> 1. Объясните понятия «биоклимат» и «биоклиматология».</div>

  <div> 2. Для каких целей используются биоклиматические критерии?</div>

  <div> 3. Назовите рекреационные типы погод, выделенные Н.А. Даниловой, и охарактеризуйте их.</div>

  <div> 4. Какова продолжительность комфортного периода для летнего отдыха и туризма в Б. Сочи и Подмосковье?</div>
</div>