<div>Оценивая туристские ресурсы Российской Федерации, большинство исследователей исходит из представлений об их
  чрезвычайном богатстве. Данная точка зрения прочно вошла в научную литературу и считается неоспоримой. Кроме того, она
  зафиксирована и в «Концепции реорганизации и развитии туризма в Российской Федерации», принятой в 1995 г. Но
  попытаемся еще раз не предвзято проанализировать ценностные свойства туристских ресурсов России.
</div>

<div>Вся территория нашей страны расположена в следующих природных зонах: арктических пустынь, тундры, лесной и степной.
  Только Черноморское побережье в пределах Краснодарского края находится в субтропиках, природной зоне, считающейся во
  всем мире одной из самых привлекательных для организации массового отдыха на побережьях теплых морей.
</div>

<div>Почти три четверти территории России относится к зоне Крайнего Севера и приравненным к нему территориям. Широкое
  распространение получила многолетняя мерзлота, занимающая более 30 % ее площади, и около 10 % относится к заболоченным
  местностям.
</div>

<div>Оценка природных условий России, проведенная по методике, разработанной О.Р. Назаревским, подразделяет всю
  территорию нашей страны на пять ареалов по степени благоприятности природных условий для проживания человека: крайне
  неблагоприятные, неблагоприятные, малоблагоприятные, благоприятные и наиболее благоприятные (рис. 5).
</div>

<%= article_image_tag "ris6.png", :class => :illustration, :alt => "Рис. 6 Оценка природных условий России для проживания человека, по О.Р. Назаревскому [ 26 ]" %>
<div>Рис. 6 Оценка природных условий России для проживания человека, по О.Р. Назаревскому [ 26 ]</div>

<div>Исследованиями О.Р. Назаревского показано, что около 70 % территории России неблагоприятны или малоблагоприятны для
  жизни человека, соответственно, и для массовой туристско-оздоровительной деятельности. К наиболее благоприятным для
  проживания относятся территории Северо-Западного, Центрального, Центрально-Черноземного, северная половина Поволжского
  и почти всего Северо-Кавказского экономических районов.
</div>

<div>Теплый период, в который предпочитает отдыхать преобладающая часть населения страны, имеет в большинстве регионов с
  благоприятными условиями проживания продолжительность не более трех месяцев. Дискомфортность природных условий на всех
  территориях особо ярко выражается в холодное время года при низких температурах и сильных ветрах.
</div>

<div>Россия достаточно ограничена в выборе территорий для массового туризма с использованием природных ресурсов.
  Российская Федерация принадлежит к числу северных стран, отличающихся длительной холодной зимой, низкими показателями
  ультрафиолетового излучения, коротким летом, непродолжительным сроком купания в открытых водоемах и др.
</div>

<div>Сравнивая природные условия России со странами, поставляющими наибольшее число туристов в нашу страну, такими как
  Финляндия, Польша Германия, США и ряд других, можно констатировать, что российские природные ресурсы для них не
  являются мотивом приезда в Россию. Аналогичные ресурсы они имеют в своих странах.
</div>

<div>Все эти страны полностью или частично расположены в лесном поясе умеренных широт и для их граждан природа
  преобладающей части России, лежащей также в лесной зоне, не является экзотичной. А ведь именно экзотичность,
  уникальность представляет собой важнейшее условие, от которого зависит направленность туристских потоков.
  Расположенные южнее лесной зоны степи никогда не относились к туристским регионам. Не являются они таковыми и в
  настоящее время.
</div>

<div>Черноморское побережье Краснодарского края не выдерживает конкуренции ни с одной из приморских курортных местностей
  в субтропической зоне зарубежных стран, пользующихся устойчивой популярностью, ни по качеству воды (на Черном море не
  существует ни одного пляжного участка, которому был бы присвоен голубой флаг ЕС, говорящий о его экологической
  чистоте), ни по погодным условиям.
</div>

<div>Определенный интерес у некоторой части иностранных туристов наблюдается к крупным рекам России и озеру Байкал. Но в
  настоящее время Волга превращена в систему водохранилищ с разрушенными волновой абразией высокими берегами и залитыми
  на многие километры противоположными - низкими. Из-за столь резких изменений, произошедшими с ее берегами, Волга
  потеряла свое очарование, особенно ниже города Нижний Новгород.
</div>

<div>С сибирскими же реками проблема состоит в том, что на них крайне короткий период туристской навигации, и, кроме
  того, они находятся на значительном удалении от основных экспортеров туристов в Россию и на их берегах незначительное
  количество историко-культурных центров.
</div>

<div>Невелики перспективы нашей страны и в отношении горных территорий. Наиболее освоенный Большой Кавказ на
  неопределенное время выпал из активной международной туристской жизни по причине продолжающегося терроризма в Чечне,
  Дагестане, Ингушетии, Северной Осетии, Кабардино-Балкарии. Горы Сибири слишком суровы для массового туризма,
  совершенно не обустроены и могут представлять интерес лишь для небольшого числа групп, поклонников спортивного
  туризма.
</div>

<div>Не способствует интенсивному развитию туризма, особенно въездного в те или иные районы страны, также отсутствие на
  их территориях уникальных, единственных в своем роде творений природы, поражающих воображение людей, таких, как,
  например, Ниагарский водопад в Северной Америке, Большой Барьерного риф у восточного побережья Австралии, заповедник
  Нгоронгоро в Африке, Большой Каньон Колорадо и другие чудеса природы, которые являются постоянной основой для въездных
  потоков в них.
</div>

<div>По причине сказанного, следует признать, что природные ресурсы России, достаточные для развития различных видов
  внутреннего туризма, не могут генерировать большие и устойчивые потоки въездного туризма. Самыми интересными для
  туристов из Европы являлись Центральный и Западный Кавказ, особенно Приэльбрусье, Домбай, Архыз, но сегодня число
  туристов из зарубежья здесь крайне незначительно.
</div>

<div>Основной историко-культурный потенциал России сосредоточен в Центральном и Северо-Западном экономических районах, в
  треугольнике с углами в Смоленске, Нижнем Новгороде и Санкт-Петербурге, превышающим по площади одного из лидеров
  международного туризма – Италию. Именно памятники, расположенные достаточно компактно на этой территории, представляют
  интерес для иностранных граждан. По оценкам компании «Интурист», около 75 % туристов из-за рубежа посещают только
  Москву, Санкт-Петербург и города «Золотого кольца России».
</div>

<div>Для российских туристов, путешествующих по внутренним маршрутам, также далеко не все регионы страны представляют
  интерес. В основном, внутренними туристами посещается только: Москва, Санкт-Петербург, «Золотое кольцо России»,
  Краснодарский и Ставропольский края, Республика Адыгея, Карачаево-Черкессия и Кабардино-Балкария, Нижняя Волга, в
  Азиатской части России – Алтай и Байкал. Главным регионом внутреннего въездного туризма является Юг России, куда
  направляются большие потоки внутренних туристов со всех регионов России.
</div>

<div>Высказанные суждения о туристских ресурсах нашей страны не коррелируются с устоявшимся мнением о колоссальном
  ресурсном потенциале России. Но следует отметить, что аналогичное мнение по поводу качества и количества туристских
  ресурсов было высказано сотрудниками Всесоюзной научно-исследовательской лаборатории по туризму и экскурсиям Ю.С.
  Путриком и В.В. Свешниковым еще в середине 80-х гг.. но осталось не воспринятом в научном сообществе (1986). После
  опубликования ими результатов исследований, касающихся ценностных свойств туристских ресурсов СССР, авторы
  преобладающего числа публикаций продолжали повторять, что наше Отечество обладает чрезвычайным богатством туристских
  природных ресурсов, не указывая какого значения – мирового или для целей внутреннего туризма.
</div>

<div>По качеству оздоровительных ресурсов Ю.С. Путрик и В.В. Свешников относят к благоприятным регионам южную часть
  Северо-Кавказского экономического района, Центральную Россию, Алтай, Прибайкалье и Приморский край (рис. 7).
</div>

<%= article_image_tag "ris7.png", :width => "600px", :class => :illustration, :alt => "Рис. 7. Оздоровительные ресурсы планового туризма [ 124 ]" %>
<div>Рис. 7. Оздоровительные ресурсы планового туризма [ 124 ]</div>


<div> Территории с наличием значительного числа ресурсов познавательного характера высокого бонитета, по мнению Ю.С.
  Путрика и В.В. Свешникова , занимают еще меньшую площадь, чем оздоровительного. Большая часть страны имеет низкую и
  среднюю степень познавательности. К территориям очень высокой и высокой познавательности относятся регионы европейской
  России, расположенные в сплошной полосе расселения. Среди них особо выделяются Центральный и Северо-Западный
  экономические районы. То есть те территории, где начиналось формирование Российской государственности (рис . 8).
</div>

<%= article_image_tag "ris8.png", :width => "600px", :class => :illustration, :alt => "Рис. 8. Познавательные ресурсы туризма [ 124 ]" %>
<div>Рис. 8. Познавательные ресурсы туризма [ 124 ]</div>

<div> Оценивая материалы по туристским ресурсам России, нельзя не прийти к заключению, что число регионов, куда
  постоянно направленно острие туристских потоков со всей России, достаточно ограничено. Это Москва и Подмосковье,
  Санкт-Петербург, Черноморское побережье Кавказа и Ставропольский край, Северо-Западный и Центральный Кавказ, Нижняя
  Волга, Алтай и Байкал. В пределах некоторых из этих территорий, согласно постановлению от 03.02.2007 г. Правительства
  Российской Федерации, должно быть создано семь особых экономических зон туристско-рекреационного типа:
</div>
<ul>
  <li>в Краснодарском крае (специализация – пляжный туризм на морском побережье);
  </li>

  <li>в Ставропольском крае (специализация – рекреационный туризм с бальнеологическим направлением);
  </li>

  <li>в Калининградской области (специализация – пляжный туризм на морском побережье);
  </li>

  <li>в Алтайском крае (специализация – водный, лыжный, рекреационный и спелеотуризм);
  </li>

  <li>в Республике Алтай (специализация – горнолыжный и рекреационный туризм);
  </li>

  <li>в Иркутской области (специализация – деловой туризм);</li>

  <li>в Республики Бурятия (специализация – горнолыжный и экологический туризм).
  </li>
</ul>
<div> Особые экономические зоны туристско-рекреационного типа создаются для развития и оказания услуг в сфере туризма.
  Целями их создания являются повышение конкурентоспособности туристской деятельности, развитие курортов, деятельности
  по организации лечения и профилактике заболеваний.
</div>

<div>Обоснованная позиция в отношении туристско-рекреационных ресурсов России является основой для дальнейших
  рассуждений о перспективах научных исследований в области туристско-рекреационного дела в стране. При изучении
  туристско-рекреационного потенциала страны исследователи в качестве одного из методов научного познания прибегают к
  районированию.
</div>

<div>Районирование представляет собой важный элемент изучения закономерностей территориальной дифференциации тех или
  иных природных или социально-экономических факторов. Так как рекреационные предприятия размещены по территории нашей
  страны неравномерно, одной из проблем как научного, так и практического характера явилось выявление закономерностей
  территориальной дифференциации рекреационного хозяйства, т.е. его районирования. За решение данной проблемы взялись в
  начале 70-х гг. сотрудники Института географии АН СССР под руководством В.С. Преображенского.
</div>

<div> Прежде всего ими было определено, что включает в себя понятие «рекреационный район». В их трактовке
  <b>рекреационный район </b>- это территориальная совокупность экономически взаимосвязанных рекреационных предприятий,
  специализирующихся на обслуживании рекреантов и использующих природные и культурно-исторические комплексы территории и
  ее экономические условия.
</div>

<div> Рекреационному району присущи определенные характерные черты:</div>

<ul>
  <li>Это социальное по своему характеру и конечному продукту образование, продукцией которого являются рекреационные
    услуги, обеспечивающие воспроизводство физических и духовных сил населения.
  </li>

  <li>В отличие от находящихся на той же территории иных отраслевых районов как производственной, так и
    непроизводственных сфер, где процессы воспроизводства протекают в отдельных стадиях, для рекреационных районов
    характерен четырехъединый процесс общественного воспроизводства: производство, обмен, распределение и потребление.
  </li>

  <li> В рекреационных районах между двумя крайними фазами - производством и потреблением - как правило, нет временного
    разрыва. Это относится к главной продукции - рекреационным услугам, которые не могут накапливаться впрок.
  </li>

  <li>Для формирования рекреационных районов, выполняющих функции длительного (ежегодного) отдыха, характерна ярко
    выраженная ориентировка на ресурсы.
  </li>

  <li>Рекреационные районы международного и федерального значения при прочих равных социально-экономических условиях
    возникают на базе уникальных сочетаний рекреационных ресурсов, имеющих малое по территории страны распространение.
  </li>

  <li>Многим рекреационным районам свойственна сезонность функционирования, обусловленная как природной ритмикой, так и
    рядом аспектов организации общественной жизни (Мироненко, Твердохлебов, 1981).
  </li>
</ul>

<div> Далее была разработана таксономическая система рекреационных единиц, состоящая из рекреационных пунктов,
  рекреационных микрорайонов, рекреационных подрайонов (мезорайонов), рекреационных районов (макрорайон), рекреационных
  зон (регион) (табл. 4).
</div>

<div class="table">
  <h6> Таблица 4 Таксономическая система рекреационных районов</h6>

  <table>
    <tr>
      <td>
        Таксоно-мический ранг
      </td>
      <td>
        Название таксономи- ческой единицы
      </td>
      <td>
        Порядок величины территории
      </td>
      <td>
        Пример рекреационного района
      </td>
    </tr>
    <tr>
      <td>
        V
      </td>
      <td>
        Рекреационная зона (регион)
      </td>
      <td>
        сотни или десятки тысяч км&sup2;
      </td>
      <td>
        Причерноморская рекреационная зона
      </td>
    </tr>
    <tr>
      <td>
        IV
      </td>
      <td>
        рекреационный район (макрорайон)
      </td>
      <td>
        сотни или десятки тысяч км&sup2;
      </td>
      <td>
        Крымский полуостров
      </td>
    </tr>
    <tr>
      <td>
        III
      </td>
      <td>
        рекреационный подрайон (мезорайон)
      </td>
      <td>
        тысячи или сотни км&sup2;
      </td>
      <td>
        Южный берег Крыма
      </td>
    </tr>
    <tr>
      <td>
        II
      </td>
      <td>
        рекреационный микрорайон
      </td>
      <td>
        сотни км&sup2; или тысячи га
      </td>
      <td>
        Алуштинский район
      </td>
    </tr>
    <tr>
      <td>
        I
      </td>
      <td>
        Рекреационный пункт
      </td>
      <td>
        десятки или сотни га
      </td>
      <td>
        поселок городского типа Фрунзенское
      </td>
    </tr>
  </table>
</div>
<div>&nbsp;</div>

<div> На территории Советского Союза были выделены 5 рекреационных зон и 20 рекреационных макрорайонов, отличных друг от
  друга и обладающих определенным набором типологических признаков (табл.5, рис. 9). В основу типологии взяты три
  признака:
</div>

<ul>
  <li>основная функциональная направленность района,</li>

  <li>ориентированность на внешние или местные потребности,</li>

  <li>степень развитости структуры.</li>
</ul>
<div> Макрорайоны выделены по плотности размещения на карте СССР санаториев, турбаз, домов отдыха.</div>
<div class="table">
<h6> Таблица 5 Рекреационные зоны и макрорайоны на территории Советского Союза и их основные типологические признаки
  (География рекреационных систем СССР, 1980)</h6>

<table>
<tr>
  <td>

  </td>
  <td>
    Макрорайон I зона
  </td>
  <td>
    Основная функция
  </td>
  <td>
    Ориентированность
  </td>
  <td>
    Степень развитости
  </td>
</tr>
<tr>
  <td>
    1
  </td>
  <td>
    Кавказско-Черноморский
  </td>
  <td>
    Лечебно-оздоровительная
  </td>
  <td>
    Общесоюзная
  </td>
  <td>
    Развитый
  </td>
</tr>
<tr>
  <td>
    2
  </td>
  <td>
    Северо-Кавказский
  </td>
  <td>
    Лечебный
  </td>
  <td>
    Общесоюзная
  </td>
  <td>
    Среднеразвитый
  </td>
</tr>
<tr>
  <td>
    3
  </td>
  <td>
    Горно-Кавказский
  </td>
  <td>
    Спортивно-туристская
  </td>
  <td>
    Общесоюзная
  </td>
  <td>
    Среднеразвитый
  </td>
</tr>
<tr>
  <td>
    4
  </td>
  <td>
    Закавказский
  </td>
  <td>
    Лечебно-туристская
  </td>
  <td>
    Общесоюзная
  </td>
  <td>
    Среднеразвитый
  </td>
</tr>
<tr>
  <td>
    5
  </td>
  <td>
    Каспийский
  </td>
  <td>
    Лечебная
  </td>
  <td>
    Местная
  </td>
  <td>
    Слаборазвитый
  </td>
</tr>
<tr>
  <td>
    6
  </td>
  <td>
    Крымский
  </td>
  <td>
    Лечебно-оздоровительная
  </td>
  <td>
    Общесоюзная
  </td>
  <td>
    Развитый
  </td>
</tr>
<tr>
  <td>
    7
  </td>
  <td>
    Одесский
  </td>
  <td>
    Оздоровительная
  </td>
  <td>
    На соседние Районы
  </td>
  <td>
    Среднеразвитый
  </td>
</tr>
<tr>
  <td>
    8
  </td>
  <td>
    Азовский
  </td>
  <td>
    Оздоровительная
  </td>
  <td>
    На соседние Районы
  </td>
  <td>
    Слаборазвитыйй
  </td>
</tr>
<tr>
  <td>
    &nbsp;
  </td>
  <td>
    II зона
  </td>
  <td>
    &nbsp;
  </td>
  <td>
    &nbsp;
  </td>
  <td>
    &nbsp;
  </td>
</tr>
<tr>
  <td>
    9
  </td>
  <td>
    Центральный
  </td>
  <td>
    Экскурсионно-оздоровительный
  </td>
  <td>
    Общесоюзная-местная
  </td>
  <td>
    Развитый
  </td>
</tr>
<tr>
  <td>
    10
  </td>
  <td>
    Северо-Западный
  </td>
  <td>
    Оздоровительно-экскурсионная
  </td>
  <td>
    Местно-общесоюзная
  </td>
  <td>
    Среднеразвитый
  </td>
</tr>
<tr>
  <td>
    11
  </td>
  <td>
    Западный
  </td>
  <td>
    Экскурсионно-оздоровительная
  </td>
  <td>
    На соседние Районы
  </td>
  <td>
    Среднеразвитый
  </td>
</tr>
<tr>
  <td>
    12
  </td>
  <td>
    Днепровско-Донецкий
  </td>
  <td>
    Экскурсионно-оздоровительная
  </td>
  <td>
    Местная
  </td>
  <td>
    Среднеразвитый
  </td>
</tr>
<tr>
  <td>
    13
  </td>
  <td>
    Волжский
  </td>
  <td>
    Экскурсионно-оздоровительный
  </td>
  <td>
    На соседние Районы
  </td>
  <td>
    Среднеразвитый &nbsp;
  </td>
</tr>
<tr>
  <td>
    14
  </td>
  <td>
    Уральский
  </td>
  <td>
    Оздоровительная
  </td>
  <td>
    Местная
  </td>
  <td>
    Слаборазвитый &nbsp;
  </td>
</tr>
<tr>
  <td>
    &nbsp;
  </td>
  <td>
    III зона
  </td>
  <td>
    &nbsp;
  </td>
  <td>
    &nbsp;
  </td>
  <td>
    &nbsp;
  </td>
</tr>
<tr>
  <td>
    15
  </td>
  <td>
    Среднеазиатский
  </td>
  <td>
    Лечебно-оздоровительная
  </td>
  <td>
    Местная
  </td>
  <td>
    Слаборазвитый
  </td>
</tr>
<tr>
  <td>
    16
  </td>
  <td>
    Обско-Алтайский
  </td>
  <td>
    Оздоровительно-лечебная
  </td>
  <td>
    Местная
  </td>
  <td>
    Слаборазвитый
  </td>
</tr>
<tr>
  <td>
    17
  </td>
  <td>
    Енисейский
  </td>
  <td>
    Оздоровительно-лечебная
  </td>
  <td>
    Местная
  </td>
  <td>
    Слаборазвитый
  </td>
</tr>
<tr>
  <td>
    18
  </td>
  <td>
    Прибайкальский
  </td>
  <td>
    Оздоровительно-лечебная
  </td>
  <td>
    На соседние районы-местная
  </td>
  <td>
    Слаборазвитый
  </td>
</tr>
<tr>
  <td>
    19
  </td>
  <td>
    Дальневосточный
  </td>
  <td>
    Лечебно-оздоровительная
  </td>
  <td>
    На соседние районы-местная
  </td>
  <td>
    Слаборазвитый &nbsp;
  </td>
</tr>
<tr>
  <td>
    &nbsp;
  </td>
  <td>
    IV зона
  </td>
  <td>
    &nbsp;
  </td>
  <td>
    &nbsp;
  </td>
  <td>
    &nbsp;
  </td>
</tr>
<tr>
  <td>
    20
  </td>
  <td>
    Север
  </td>
  <td>
    Лечебно-туристская
  </td>
  <td>
    Местная Общесоюзная
  </td>
  <td>
    Слаборазвитый
  </td>
</tr>
</table>
</div>

<%= article_image_tag "ris9.png", :width => "600px", :class => :illustration, :alt => "Рис. 9. Рекреационное районирование СССР (География рекреационных систем СССР, 1980)" %>
<div>Рис. 9. Рекреационное районирование СССР (География рекреационных систем СССР, 1980)</div>

<div>Районы и локализация с плотностью предприятий: 1- очень высокой, 2- высокой, 3 - средней, 4 - низкой, 5 - очень
  низкой, 6 - экскурсионные центры,
7 - границы рекреационных зон, 8 - границы рекреационных районов</div>


<div> Развитие теоретических основ и практики рекреационного районирования последовало при подготовке коллективной
  монографии «Рекреационные ресурсы. Условия и ресурсы отдыха и туризма» (1982), в которой рассматривалась территория
  Северо-Кавказского экономического района, единственного экономического района Советского Союза, в котором была создана
  подобная целостная работа. В ней были обобщены все имеющиеся научные сведения о рекреационных возможностях целого
  экономического района, имеющего рекреационную специализацию.
</div>

<div> При рекреационном районировании Северного Кавказа принципы выделения таксономических единиц отличались от
  принципов Института географии АН СССР. За основу их выделения были в первую очередь взяты рекреационные ресурсы, далее
  - комплекс реализующих и комплекс обеспечивающих факторов.
</div>

<div> Ресурсы определяют специализацию рекреационной деятельности и формирование суботраслей: лечебной, оздоровительной,
  экскурсионной, туристско-спортивной и др.
</div>

<div> Реализующие факторы обеспечивают «комфортность» рекреационной деятельности. Наличие современных лечебных и
  спальных корпусов, канатно-кресельных и маятниковых дорог, кинотеатров и других технических систем улучшает условия
  рекреационной деятельности.
</div>

<div> Обеспечивающие факторы (с учетом обслуживающего персонала) показывают степень развития рекреационной отрасли и
  сопутствующих отраслей. Это и инфраструктура, и базы снабжения, и т.д.
</div>

<div> На территории Северо-Кавказского экономического района были выделены следующие таксономические единицы
  рекреационного районирования: макрорайон, район и микрорайон (рис. 10).
</div>

<%= article_image_tag "ris10.png", :width => "600px", :class => :illustration, :alt => "Рис. 10. Рекреационное районирование Северного Кавказа" %>

<div>Рис. 10. Рекреационное районирование Северного Кавказа</div>

<div>Рекреационные макрорайоны: 1- Ростовский, II - Краснодарский, III - Ставропольский, IV - Кабардино-Балкарский, V -
  Северо-Осетинский, VI - Чечено-Ингушский, VII - Дагестанский
</div>

<div>Рекреационные районы: 1 - Б. Сочи, 2 - Анапо-Туапсинский, 3 - Адыгейский,
  4 - Кавказских Минеральных вод, 5 - Карачаево-Черкесский, 6 - Приэльбрусский, 7 - Нальчикский, 8 - Приморский
  Дагестана
</div>

<div>Условные обозначения: 1 - рекреационные микрорайоны, 2 - рекреационные районы, 3 - рекреационные макрорайоны с
  развитой инфраструктурой, 4 - рекреационные макрорайоны с малоразвитой инфраструктурой
</div>

<div> Макрорайон включает различные территориальные рекреационные системы, базирующиеся на ресурсах. В нем имеется
  рекреационная отрасль, выделяются локальные рекреационные зоны с богатыми ресурсами, хорошо развиты транспортные
  коммуникации, имеется административно-финансовый центр. В составе макрорайона находятся рекреационные районы.
</div>

<div> Рекреационные макрорайоны в СКЭР выделены в границах административных единиц. К макрорайонам с развитой
  рекреационной инфраструктурой отнесены Краснодарский, Ставропольский, Кабардино-Балкарский, Северо-Осетинский, со
  слабо развитой инфраструктурой - Ростовский, Чечено-Ингушский, Дагестанский.
</div>

<div> Под рекреационным районом подразумевалась территория с ведущей рекреационной отраслью, богатыми ресурсами,
  развитыми транспортными коммуникациями, центрами управления отраслью. Было выделено 8 районов: горно-приморский
  Большого Сочи, горно-приморский Анапо-Туапсинский, горный Адыгейский, горный Карачаево-Черксский, предгорный
  Кавминводский, горный Приэльбрусский, предгорный Нальчикский, приморский Дагестанский.
</div>

<div> В микрорайоне рекреационная суботрасль - ведущая. Она использует специализированные ресурсы. Рекреационные
  микрорайоны: Горячий Ключ - лечебный, Ейский - оздоровительный, Краснодарский (г. Краснодар) - экскурсионный,
  Цимлянский - оздоровительный, Ростовский (г. Ростов-на-Дону) - экскурсионный, Кисловодский - экскурсионно-лечебный,
  Ессентукский - экскурсионно-лечебный, Пятигорский - экскурсионно-лечебный, Железноводский - экскурсионно-лечебный,
  Тебердинско-Домбайский - лечебно-спортивно-оздоровительный, Архызский - спортивно-оздоровительный, Ставропольский (г.
  Ставрополь) - экскурсионный, Махачкалинский - экскурсионный, Нальчикский (г. Нальчик) - лечебно-экскурсионный,
  Орджоникидзевский - экскурсионный, Грозненский - экскурсионный, Цейский - горный, Гунибский - горный, Азовский
  -приморский.
</div>

<div> Районированию территории страны и других ее административных образований для целей рекреации уделялось постоянное
  внимание. Т.П. Алешина занималась климатическим районированием СССР для целей летнего отдыха (1976), И.В. Бутьева
  рассмотрела географию комфортных температур (1976), Т.Г. Швейнова провела районирование территории Советского Союза по
  повторяемости душных погод (1974), Л.Н. Пушкова составила схему районирования территории СССР по продолжительности
  зимнего благоприятного рекреационного периода (1981), Ю.С. Путрик, В.В. Свешников провели районирование территории
  Советского Союза для разных видов туризма и экскурсий (рис. 11) (1986) и др.
</div>

<%= article_image_tag "ris11.png", :width => "600px", :class => :illustration, :alt => "Рис. 11. Комплексная оценка туристских ресурсов CCCР по их значимости [ 124 ]" %>

<div>Рис. 11. Комплексная оценка туристских ресурсов CCCР по их значимости [ 124 ]</div>

<div> К работам последних лет, посвященных проблемам районирования современной России для целей отдыха и туризма,
  относится публикация Ю.С. Путрика, в которой он рассматривает географию туризма в Российской Федерации (рис. 12)
  (2006).
</div>

<%= article_image_tag "ris12.png", :width => "600px", :class => :illustration, :alt => "Рис. 12. Туризм в Российской Федерации" %>

<div>Рис. 12. Туризм в Российской Федерации</div>

<div>Туристско-рекреационные районы: Европейская зона - I - Западный (Калининградская обл.), II - Северо-Западный, III -
  Центральный, IV - Южно-российский, V - Поволжье, VI - Уральский.
</div>

<div>Причерноморско-Кавказская зона - VII - Приазовье, VIII - Причерноморье, IX - Кавказский.</div>

<div>Сибирско-Дальневосточная зона - X - Обско-Алтайский, XI - Енисейский, XII - Байкальский, XIII - Дальневосточный.</div>

<div>Северная зона - XIV - Северо-сибирский, XV - Якутско-Чукотский, XVI - Камчатский, XVII - Русский север.</div>

<div> Карта, составленная Ю.С. Путриком, отражает туристское районирование по признакам культурно- и
  природно-познавательного, а также оздоровительного ресурсного потенциала. При ее составлении и выделении на ней
  основных районов и территорий оздоровительного, культурно-. религиозно-, и природно-познавательного, а также других
  видов туризма принималось во внимание культурно-ландшафтное районирование России, проведенное Ю.А. Ведениным (1997).
</div>

<div> Краткий экскурс в проблемы рекреационного и туристского районирования территории нашей страны показывает, что это
  достаточно сложный процесс, в который должны быть вовлечено и оценено большое количество разнообразных факторов.
</div>

<div class="questions">
  <div> Контрольные вопросы к модулю «Оценка и районирование туристских ресурсов России»</div>

  <div> 1. В каких природных зонах расположена территория России?</div>

  <div>2. Где на территории России сосредоточен основной историко-культурный туристский потенциал?</div>

  <div>3. Что включает в себя понятие «рекреационный район»?</div>

  <div>4. Назовите рекреационные таксономические единицы, выделенные на территории СССР.</div>

</div>