= form_for(@article) do |f|
  = f.error_messages
  
  .field
    = f.label :title
    %br
    = f.text_field :title
    /
      .field
        = f.label :content
        %br
        = f.text_area :content

  .actions
    = f.submit
