- content_for :navigation do
  - if @article.additional_material?
    = link_to_function "вернуться к основному материалу", "javascript:history.back()", :class => :prev
  - else
    != [ (link_to("предыдущий модуль", @article.previous, :class => :prev) if @article.previous), |
         (link_to("следующий модуль", @article.next, :class => :next) if @article.next) ].compact.join(image_tag("navdelim.png", :class => :delim)) |
  / = link_to 'оглавление', articles_path

- article_content = render(:inline => @article.content.html_safe)

- unless @article.cover_page?
  %h1{:class => @h1_class}!= @article.title

- if Rails.env.development?
  = link_to 'New article', new_article_path
  |
  = link_to 'Edit', edit_article_path(@article)
  |
  = link_to 'Back', articles_path

.article[]!= article_content  

- if @article.children.present?
  %hr
  .inlinenav
    = render @article.children