!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "ru", :lang => "ru"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title== Articles: #{ controller.action_name }
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = javascript_include_tag %w(jquery application)
    = csrf_meta_tag

  %body.bp
    -if notice.present?
      %p.notice= notice

    %div{:class => page_class}
      = yield
